<h2>All Historical Landmarks</h2>

<ul>
<% @landmarks.each do |landmark| %>
  <li><%= landmark.name %>, completed in <%= landmark.year_completed %><br>
<% end %>
</ul>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
